.leaflet-geonames-search {
    background-color: #FFF;
}
.leaflet-geonames-search a{
    border-radius: 4px;
    display: inline-block;
    float:right;
}
.leaflet-geonames-search a {
    background-color: transparent !important;
    border: none !important;
}
.leaflet-geonames-search form {
    float: left;
}
.leaflet-geonames-search input {
    padding: 2px;
    margin: 4px;
    border: none;
    display: none;
}
.leaflet-geonames-search ul {
    display: none;
    list-style: none;
    padding: 0 0 2px 0;
    margin: 0;
    clear:both;
    max-width: 250px;
}
.leaflet-geonames-search ul li {
    padding: 4px;
    border-top: 1px solid #DDD;
}
.leaflet-geonames-search ul.hasResults li:hover {
    background: #F2F2F2;
    cursor: pointer;
}
.leaflet-geonames-search input:focus {
    outline: 0;
}
.leaflet-geonames-search.active input {
    display: inline-block;
}
.leaflet-geonames-search ul.hasResults,
.leaflet-geonames-search ul.noResults{
    display: block;
}
.leaflet-geonames-search ul.noResults {
    color: #999;
    font-style: italic;
}
.leaflet-geonames-icon {
    background: transparent no-repeat center center;
    /*src: https://design.google.com/icons/#ic_directions*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTIxLjcxIDExLjI5bC05LTljLS4zOS0uMzktMS4wMi0uMzktMS40MSAwbC05IDljLS4zOS4zOS0uMzkgMS4wMiAwIDEuNDFsOSA5Yy4zOS4zOSAxLjAyLjM5IDEuNDEgMGw5LTljLjM5LS4zOC4zOS0xLjAxIDAtMS40MXpNMTQgMTQuNVYxMmgtNHYzSDh2LTRjMC0uNTUuNDUtMSAxLTFoNVY3LjVsMy41IDMuNS0zLjUgMy41eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+);
}
.leaflet-geonames-icon-working {
    /*src: https://design.google.com/icons/#ic_autorenew*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEyIDZ2M2w0LTQtNC00djNjLTQuNDIgMC04IDMuNTgtOCA4IDAgMS41Ny40NiAzLjAzIDEuMjQgNC4yNkw2LjcgMTQuOGMtLjQ1LS44My0uNy0xLjc5LS43LTIuOCAwLTMuMzEgMi42OS02IDYtNnptNi43NiAxLjc0TDE3LjMgOS4yYy40NC44NC43IDEuNzkuNyAyLjggMCAzLjMxLTIuNjkgNi02IDZ2LTNsLTQgNCA0IDR2LTNjNC40MiAwIDgtMy41OCA4LTggMC0xLjU3LS40Ni0zLjAzLTEuMjQtNC4yNnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100%{
        -webkit-transform:rotate(359deg);
        transform:rotate(359deg)}
}
@keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100%{
        -webkit-transform:rotate(359deg);
        transform:rotate(359deg)}
}